<div class="container">

    <nav class="navbar mb-5 has-background-light" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
    
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a href="/" class="navbar-item has-text-dark is-size-5">
                    Home
                </a>
            </div>
    
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a href="https://steam-inventory-app.herokuapp.com/auth/steam">
                            
                            <button class="button is-dark">
                                <span class="icon">
                                    <i class="fab fa-steam"></i>
                                </span>
                                <span>Sign In Through Steam</span>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

</div>
