<div class="container">

    <nav class="navbar mb-5 has-background-light" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a href="/" class="navbar-item has-text-dark is-size-5">
                    Home
                </a>

                <a href="/inventory" class="navbar-item has-text-dark is-size-5 ">
                    Inventory
                </a>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <form class="control" action="/logout" method="POST">
                        <div class="control">
                            <input class="button navbar-item is-size-6 " type="submit" value="Logout">
                        </div>
                    </form>
                </div>
            </div>
        </div>
</div>
</nav>
</div>