<%- include('./partials/header.ejs') %>
<%- include('./partials/navigation-authenticated.ejs') %>


<div class="container">
    <div class="columns is-vcentered">

        <div class="column">
            <div class="chart1">
                <iframe id="chart1"
                    style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);"
                    width="640" height="480"
                    src="https://charts.mongodb.com/charts-internetotechnologijos-oismf/embed/charts?id=9be1da55-2728-464e-aaba-f54643adbf9f&autoRefresh=10&theme=light"></iframe>
            </div>
        </div>

        <div class="column">
            <div class="chart2">
                <iframe
                    style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);"
                    width="640" height="480"
                    src="https://charts.mongodb.com/charts-internetotechnologijos-oismf/embed/charts?id=4537a9d5-59bb-44eb-9656-7462f66d972a&autoRefresh=10&theme=light"></iframe>
            </div>
        </div>
    </div>
</div>
</div>