<%- include('./partials/header.ejs') %>
<%- include('./partials/navigation-authenticated.ejs') %>


<div class="container">
  <div class="columns is-mobile">
    <div class="column">
      <form class="control" action="/search" method="POST">
        <div class="control">
            <input class="button is-link is-pulled-left" type="submit"
                value="Refresh">
        </div>
    </form>
    </div>
  </div>

  <div class='columns is-multiline is-mobile '>
      <% if(messages.ownershipFailure){ %>
        <div class="column">
          <div class="field">
            <div class="has-background-danger-light has-text-danger p-2">
                <i class="fas fa-exclamation-triangle mr-2"></i><%= messages.ownershipFailure %>
            </div>
        </div>
        </div>
        
      <% } else{ %>  
        <% for(var i = 0; i < urls.length; i++) { %>

          <div class="column is-3-mobile is-2-tablet is-1-desktop" id="item-card">
            <div class="card">
              <div class="card-image">
                <figure class="image">
                  <img src="<%= urls[i] %> ">
                </figure>
              </div>
            </div>
          </div>
          <% } %>
     <% } %>
  </div>
</div>